  <table style="width:600px;font-family:'lato',Tahoma,sans-serif" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
      <td align="center">
        <br>
        <a href="https://www.softeasy.com.br"><img  src="https://www.softeasy.com.br/mkt/emailmarketing/logo-rodape.png" alt="Softeasy"/></a>
        <p style="font-size:13px;padding: 0px 30px;">Acompanhe a Softeasy nas rede sociais:</p>
        <a href="https://www.facebook.com/SofteasyTecnologia/"><img src="https://www.softeasy.com.br/mkt/emailmarketing/face.png"></a>
        <a href="https://www.instagram.com/softeasy.tecnologia/"><img src="https://www.softeasy.com.br/mkt/emailmarketing/insta.png"></a>
        <a href="https://twitter.com/softeasy"><img src="https://www.softeasy.com.br/mkt/emailmarketing/twitter.png"></a>
        <a href="https://www.linkedin.com/company/softeasy-tecnologia/"><img src="https://www.softeasy.com.br/mkt/emailmarketing/linkedin.png"></a>
        <hr style="border-top: dotted 1px #f1f1f1;margin:20px 0px;">
      </td>
    </tr>
    <tr>
      <td align="center" style="font-size:13px;padding: 0px 30px;">
        <p style="padding-bottom:10px;"><span style="text-transform:uppercase"><b style="color:#009540;">*** mensagem automática ***</b></span><br>
        Você está recebendo esta mensagem automatica de um dos sistemas da Softeasy.</p>
        <p><span>Enviado por<br><b><a href="https://www.softeasy.com.br">SOFTEASY TECNOLOGIA</a></b></span></p>
      </td>
    </tr>
</table>
