<table
    style="width:600px;font-family:'lato',Tahoma,sans-serif"
    cellspacing="0"
    cellpadding="0"
    border="0"
    align="center"
>
    <tr>
        <td align="center" style="background:#009540;padding:30px;color:#FFFFFF">
            <h3>Comprovante de Coleta </h3>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px;">
            <p>Prezado, <b>{{ nome }}</b></p>
            <p>Segue em anexo o comprovante de coleta referente ao atendimento <b>{{ postoAmostra }}</b></p>
            <p>Qualquer dúvida ou esclarecimento entrar em contato com o laboratório.</p>
            <p>Atenciosamente,</p>
            <p><b>{{ razao }}</b></p>
        </td>
    </tr>
    <tr>
        <td align="center" style="background:#009540;padding:30px;color:#FFFFFF"></td>
    </tr>
</table>
