<table style="width:600px;font-family:'lato',Tahoma,sans-serif" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
    <td align="center" style="background:#009540;padding:30px;color:#FFFFFF">
      <h3>E-mail de Teste</h3>
    </td>
  </tr>
  <tr>
    <td style="padding: 30px;">
        <p>Prezado Cliente, tudo bem? </p>
        <p>
            Esse é um e-mail de teste. Isso significa que as informações configuradas de seu provedor estão corretas.
        </p>
    </td>
  </tr>
</table>
